@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.miama {
    font-family: 'Miama', sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #000000;
}

/* shared styles */
.df {
    display: flex;
}

.color-primary {
    color: rgb(230, 83, 60);
}

.btn-primary {
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);
}

.white {
    color: #ffffff;
}

.color-dsc {
    color: rgba(255, 255, 255, 0.5);
}

/* navigation styling */

header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    padding: 2.7rem 11% 0 11%;
}

.header {
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 36px;
}

nav {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
}

.nav-lists {
    align-items: center;
    gap: 2.5rem;
}

li {
    list-style-type: none;
}

.nav-list a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

.home {
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
}

.aa {

    padding: 8px 20px 8px 20px;
}

/* Hero content styling */

.hero-content {
    gap: 11rem;
}

.hero-title {
    text-align: left;
    font-size: 78px;
    line-height: 120%;
    font-weight: 800;
}

.hero-description {
    max-width: 500px;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.span {
    font-size: 150px;
    font-weight: 500;
}

.hero-content-left {
    margin-top: 6rem;

}

.btn-second {
    background-color: #0f0f0f;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    margin-left: 1rem;

}

.hero-content-right {
    margin-top: 2rem;
    margin-right: 1.5rem;
    align-items: center;
    justify-content: center;
}

.dot {
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
}

.mini-card-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    margin-top: -165px;
    margin-left: -115px;
}

.mini-card-1>h3 {
    font-size: 24px;
    font-weight: 900;
}

.mini-card-2 {
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    margin-top: -410px;
    margin-left: 200px;

}

.mini-card-2>div {
    padding-left: 1.5rem;
}

.mini-card-2 div>h3 {
    font-size: 40px;
    font-weight: 900;
}