@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-color: black;
    max-width: 1440px;
}

.miama {
    font-family: 'Miama', sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* styles */
.df {
    display: flex;
}

.btn-color {
    color: rgba(230, 83, 60, 1);
}


/* navbar related styles */

.nav-title {
    color: rgba(230, 83, 60, 1);
}

.nav-lists {
    gap: ;
}

.nav-list {
    list-style-type: none;
}

.nav-list a {
    text-decoration: none;
    color: #ffffff;
}