@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.miama {
    font-family: 'Miama', sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #000000;
}

section {
    max-width: 1440px;
    margin: 6rem 11%;
}

/* shared styles */
.df {
    display: flex;
}

.color-primary {
    color: rgb(230, 83, 60);
}

.btn-primary {
    cursor: pointer;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);
}

.white {
    color: #ffffff;
}

.color-dsc {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.f14 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

/* navigation styling */

.menu-icon {
    display: none;
}

header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    padding: 2.7rem 11% 0 11%;
}

.header {
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 36px;
}

nav {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
}

.nav-lists {
    align-items: center;
    gap: 2.5rem;
}

li {
    list-style-type: none;
}

.nav-list {
    padding: 8px 20px 8px 20px;
}

.nav-list a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

.home {
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
}


/* Hero content styling */

.hero-content {
    gap: 11rem;
}

.hero-title {
    text-align: left;
    font-size: 78px;
    line-height: 120%;
    font-weight: 800;
}

.hero-description {
    letter-spacing: 0.5px;
    font-size: 16px;
    max-width: 500px;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.span {
    font-size: 150px;
    font-weight: 500;
}

.hero-content-left {
    margin-top: 6rem;

}

.btn-second {
    background-color: #0f0f0f;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
}

.button {
    margin-right: 1rem;
}

.hero-content-right {
    margin-top: 2rem;
    margin-right: 1.5rem;
    align-items: center;
    justify-content: center;
}

.dot {
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
}

.mini-card-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    margin-top: -165px;
    margin-left: -115px;
}

.mini-card-1 div>h3 {
    font-size: 24px;
    font-weight: 900;
}

.mini-card-2 {
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    margin-top: -410px;
    margin-left: 200px;

}

.mini-card-2>div {
    padding-left: 1.5rem;
}

.mini-card-2 div>h3 {
    font-size: 40px;
    font-weight: 900;
}

/* habit styles */

.habit {
    margin-top: 11rem;
    text-align: center;
}

.habit-content {
    margin-bottom: 3.6rem;
    text-align: center;
}

.habit-content-title {
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 0.8rem;
}

.habit-cards {
    gap: 2.5rem;
}

.habit-image {
    border-radius: 50%;
}

.habit-title {
    margin-top: 1.8rem;
    margin-bottom: 6px;
}

/* 'Bhag milka bhag' section style */

.milka-singh-section {
    justify-content: space-between;
    gap: 11rem;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.ms-content {
    margin-left: 3.4rem;
    max-width: 443px;
    margin-top: 2.5rem;
}

.ms-title {
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
}

.ms-description {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.ms-image {
    width: 366px;
    height: 312px;
    border-radius: 18px;
    object-fit: cover;
    margin: 2rem;
}

/* BMI calculator */
.bmi-calc {
    padding: 3.12rem;
    gap: 13rem;
}

.bmi-headings {
    text-align: center;
}

.bmi-hading {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 1rem;
}

.bmi-chart-heading {
    font-size: 28px;
    font-weight: 900;
    margin: 0 0 3.12rem 0;
}

table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}

td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.tdata {
    padding: 0.8rem 1.1rem;
}

.mone-mone-section {
    background: rgb(34, 34, 34);
}


.input1 {
    grid-area: aa;
}

.input2 {
    grid-area: bb;
}

.input3 {
    grid-area: cc;
}

.input4 {
    grid-area: dd;
}

.input5 {
    grid-area: ee;
}

#option {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "aa bb"
        "cc dd"
        "ee ee"
    ;
}

select,
input {
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

.calc-heading {
    font-size: 28px;
    font-weight: 900;
}

.calc-dsc {
    font-size: 14px;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.calc-btn {
    margin-top: 2rem;
}

#option input::placeholder,
select {
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    font-weight: 400;
}

option {
    color: rgba(255, 255, 255, 0.751);
    background: rgba(0, 0, 0, 0.786);
}

/* meet our team style */

.team-headings {
    text-align: center;
    margin-bottom: 3.5rem;
}

.team-title {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 1rem;
}

.center-div {
    display: inline-block;
    display: flex;
    justify-content: center;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(3, 20.5rem);
    gap: 1.5rem;
    align-items: center;
    padding: 1.5rem;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
}

.team-detail {
    width: 20.5em;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.team-container .team-detail img {
    width: 20.5rem;
    height: 272px;
    border-radius: 18px;
    object-fit: cover;

}

.team-container h4,
p {
    width: 100%;
}

.team-names-dsc {
    position: absolute;
    bottom: 1.5rem;
    margin-left: 1rem;
}

/* footer section */

footer {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-container {
    max-width: 1440px;
    padding: 4.1rem 12% 5rem 12%;
}

.footer-headings {
    width: 50%;
}

.f-title {
    font-size: 70px;
    font-weight: 800;
    color: rgb(230, 83, 60);

}

.f-dsc {
    width: 443px;
    margin-top: 1.5rem;
}

.f-nav-container {
    width: 50%;
    gap: 150px;
    margin-left: 40px;
}

.f-navs-heading {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
}

.f-navs li a {
    font-size: 23px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.f-navs li {
    margin-bottom: 20px;
}

hr {
    margin: 0 12%;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.copy {
    padding: 35px 0;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    letter-spacing: 0.3px;
}



@media screen and (max-width: 576px) {

    .habit-cards,
    .milka-singh-section,
    .bmi-calc,
    .footer-container,
    .f-nav-container {
        flex-direction: column;
    }

    section {
        /* margin: 2rem 11%; */
    }

    .hero-content,
    .milka-singh-section {
        gap: 60px;
    }

    .hero-content-right {
        margin-right: 0;
    }

    header {
        padding: 50px 20px;
    }

    .hero-content-left {
        margin-top: 50px;
    }

    .nav {
        display: none;
    }

    .center-btn {
        display: flex;
        justify-content: center;
    }

    .menu-icon {
        display: block;
        height: 24px;
        width: 24px;
    }

    .hero-content {
        flex-direction: column;
    }

    .button {
        font-size: 16px;
        padding: 16px 20px;
        margin-right: 20px;
    }

    .center-di {
        margin-left: 17.5vw;
        margin-right: auto;
    }

    .habit {
        margin-top: 400px;
    }

    .bmi-headings {
        margin: 0 11%;
    }

    .bmi-calc,
    .bmi-chart {
        margin: 30px auto;
        gap: 2rem;
    }

    .team-container {
        grid-template-columns: repeat(1, 20.5rem);
    }

    .f-nav-container {
        margin: 30px 0 60px 0;
        gap: 20px;
    }
}